body {
    background-color: #fb9b9b;
    background-image: linear-gradient(315deg, #ababab 0%, #9c9c9c 100%);
}


table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 60%;
    margin: 90px auto;
    border: 10px solid #fff;
}

th {
    background-color: black;
    color: white;
}

td,
th {
    border: 1px solid #6666;
    border-bottom: 1px solid rgba(77, 7, 7, 0.4);
    border-right: 2px solid #789;
    text-align: left;
    padding: 8px;
    width: 15%;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
    color: black;
}

h2 {
    margin: 0 auto;
}